# Gradle
.gradle/
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar
local.properties

# Android Studio
.idea/
*.iml
*.ipr
*.iws

# Android/Java/Kotlin
*.apk
*.ap_
*.aab
*.class
*.dex
*.jar
*.war
*.ear

# NDK / CMake
.cxx/
.externalNativeBuild/

# Logs
*.log

# Firebase/Crashlytics
crashlytics-build.properties
fabric.properties
google-services.json
